/* || Common || */

em {
    font-style: italic;
}

em strong {
    font-weight: bold;
}

/* || Banner || */

#banner {
    width: 100%;
}

/* || About Section || */

.about {
    padding: 80px 0;
}

.about .utensils {
    width: 150px;
    margin: 0 30px 0 0;
    float: left;
}

.about h2 {
    margin: 0 0 50px;
    text-align: center;
    font-size: 32px;
}

.about p {
    margin: 1.2% 0;
    line-height: 1.3rem;
}

#mission {
    font-size: 20px;
}

/* || Benefits || */

#benefits {
    background: white;
    padding: 30px 15rem;
}

#benefits h3 {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 28px;
}

#benefits ul {
    width: 28%;
    margin-right: 15%;
    padding: 10px 0 0 50px;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    list-style-type: disc;
}

.itens {
    margin: 3% 0;
    font-style: italic;
}

.benefits-img {
    width: 50%;
}
