/* || Common || */

body {
    background: linear-gradient(180deg, white 50%, black);
}

em {
    font-style: italic;
}

em strong {
    font-weight: bold;
}

/* || Banner || */

#banner {
    width: 100%;
}

/* || About Section || */

.about {
    padding: 80px 25px;
}

.about .utensils {
    width: 200px;
    margin: 0 30px 0 0;
    float: left;
}

.about h2 {
    margin: 0 0 50px;
    text-align: center;
    font-size: 32px;
}

.about p {
    margin: 1.2% 0;
    line-height: 1.3rem;
}

#mission {
    font-size: 20px;
}

/* || Map || */

.map {
    margin: 0 0 50px;
    padding: 0 25px;
    text-align: center;
    clear: left;
}

.map h3 {
    margin: 0 0 30px;
    text-align: center;
    font-size: 28px;
}

.map p {
    margin: 0 0 30px;
}

.map iframe {
    width: 100%;
}

/* || Benefits || */

#benefits {
    padding: 30px 25px;
}

#benefits div {
    display: flex;
}

#benefits h3 {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 28px;
}

#benefits ul {
    width: 30%;
    margin-right: 15%;
    padding: 10px 0 0 50px;
    flex: 1;
    font-size: 20px;
    list-style-type: none;
}

#benefits li::before {
    content: "⭐";
    font-size: 14px;
    font-style: normal;
    margin: 0 5px 0 0;
}

.itens {
    margin: 3% 0;
    font-style: italic;
}

.benefits-img {
    width: 100%;
    flex: 1.5;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 30%);
}

#video {
    display: block;
    width: 560px;
    margin: 50px auto;
}

/* || Responsive || */

@media screen and (max-width: 555px) {
    main {
        text-align: center;
    }

    .about .utensils {
        float: none;
    }

    #benefits div {
        display: block;
    }

    #benefits ul {
        width: fit-content;
        margin: 15px auto;
        padding: 0;
    }

    #video {
        width: 100%;
    }
}
