.products {
    padding: 50px 0;
}

.products li {
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    display: inline-block;
    vertical-align: top;
    /* background-color: #ccc; */
    border: solid 2px black;
    border-top-width: 10px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

.products li:hover {
    border-color: #c78c19;
}

.products li:hover h2 {
    font-size: 34px;
}

.products li:active {
    border-color: #088c19;
}

.products img {
    width: 100%;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.product-about {
    font-size: 18px;
}

.product-price {
    margin: 10px 0 0;
    font-size: 22px;
    font-weight: bold;
}
